/* ---------colores--que se usaran--------
   gris oscuro = #1d252c
   gris claro = #626262
   background gris = #1b2127 
   celeste = #026fff */
 
/* --------------archivo de iconMoon style.css------- */
   @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6i4w2b');
    src:  url('../fonts/icomoon.eot?6i4w2b#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?6i4w2b') format('truetype'),
      url('../fonts/icomoon.woff?6i4w2b') format('woff'),
      url('../fonts/icomoon.svg?6i4w2b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
/* -------FIN -------archivo de iconMoon style.css------- */
   
.header{
    background-color: #1d252c;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap: wrap;
}

.menu{
    height: inherit;  /* hereda de .header el height:90px; */
}

.header ol{
    display: flex;
    height: inherit;    /* hereda de .menu */
}

.header ol li{
    height: inherit;    /* hereda de .header ol */
}

.header a{    
    color: white;
    text-decoration: none;  /* quita el subrayado */
    height: inherit;        /* hereda de .header ol li */
    display: flex;
    align-items: center;   
    padding: 0 10px;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: o;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    text-transform: capitalize;
    text-decoration: line-through underline black;
    color: white;
    margin: 0;
  /*margin: 100px 500px 70px 30px;*/ /* estos valores se registran en forma de reloj top-right-buttom-left ó top/buttom-left/right */ 
            /* 500 al ser el margin right podemos hacer que el texto no se junte con la imagen */
}

h1 strong{
    color: #026fff ;
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero{
    height: 300px;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-image{
    object-fit: cover;
}

.portfolio{
    background: #fafafa;
    padding: 20px;

}

.project{
    border: 1px solid grey;
    border-radius: 10px;  
    border-top-left-radius: 50px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;        /* estas propiedad y la de abajo combinados les da un layout bueno */
    justify-content: space-between; /* buen layout */
    flex-wrap: wrap;
}

.project-course,   
.course-date,       /* al juntar estas propiedas en una misma declaracion nos ahorramos la parte de abajo */
.project-url{
    margin: 10px 0;
}
/*
.project-date{
    margin: 10px 0;
}
*/

.project-description{
    font-size: 20px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details{
    width: 50%;   }
   

.project-imageContainer{
    width: 50%; /* 500px original */
}

.project-imageContainer img{
    max-width: 100%;
}


.footer{
    color: white;
    background-color:#1b2127;
    display: flex;
    align-items: center;   /* esto se resuelve con la declaracion de abajo .footer img*/ 
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img{
    vertical-align: middle;/* con esta propiedas alineamos el texto */
}

.footer a{
    color: white;
}

.event-list{
    display: flex;
    flex-wrap: wrap;
}

.event-list-title{
    margin-left: 20px;
}

.event{
    margin: 1%;
    width: 48%;
    flex-shrink: 0;       /* siempre ocupan el tamaño que se designo*/
    border-radius: 10px;
    overflow: hidden;  /* cuando un elemento se desborde (salga del borde) esta propiedad lo ocultara, ej la esquina de la imagen sale del borde redondeado */
    background: #e2f4ff;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;  /* esta propiedad nos ayuda a que la imagen NO se encoja ni se estire */

}

.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;  /* pone encima (sobreponer) de su padre este caso la imagen */
    padding: 20px;
    text-align: center;   /* tambien se puede usar justify enves de center pero se recomienda no usarlo */
}

.event-description{
    text-align: left;
}

.event-url{
    color: #056fff;
    border: 1px solid; /* el color del borde no es necesario especificarlo porque se hereda del color de fuente */    
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;    
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;/* alinear horizontalmente */
    flex-wrap: wrap;
}

.social{
    /* border: 1px solid red; */
}

.social-link{   /* a tiene por defeto display inline hay que cambiarlo */
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    /* border: 1px solid white;   esta linea era para identificar los objetos se borro al ultimo*/
    /* background-size: 50px 50px; */   /* con esta linea nos ahorramos las lineas de codigo de .social-link.twitter/facebook/git/inta */
}

.social-link.twitter{
    background-image: url('../images/twitter.svg');  /* .svg= scalable vector grafics NO se pixelean */
    background-size: 50px 50px;                      /* pero hay que darles un tamaño, esta propiedad tambien la puedo colocar en su padre y nos ahorramos estas lineas*/
}

.social-link.facebook{
    background-image: url('../images/facebook.svg');
    background-size: 50px 50px;
}

.social-link.github{
    background-image: url('../images/github.svg');
    background-size: 50px 50px;
}

.social-link.instagram{
    background-image: url('../images/instagram.svg');
    background-size: 50px 50px;
}


.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}

.container{                 /* este contenedor se define en html y le podemos dar estilos al contenido dentro de este elemento de una forma sencilla */
    /*border: 1px solid red;*/
    max-width: 1000px;
    /*width: 100;   esta linea funciona igual a la de abajo pero no es tan way*/
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;  /* es lo mismo que 20px referente al width y height*/
    background-color: rgba(0, 0, 0, .8);
    display: none;  /* none no se ve */
    /* display: flex;           para alinear elementos las lineas de abajo sfuncionan igual
    align-items: center;
    justify-content: center; */
    line-height: 40px;
    text-align: center;
    /* ------------------------- */
    position: fixed;
    z-index: 4;
    left: 15px;
    top: 15px;
    /* para darle color al icono, ya que es una fuente usamos */
    color: white;
}

/* -----------------Media querys--------------- */
/* min-width   /   desde */
/* max-width   /   hasta */
@media screen and (max-width:1023px){
    .event-list-title{
        margin-left: 0;
    }
    .portfolio{
        padding: 0;
    }
    .container{
        padding: 0 1em;
    }
    .hero{
        flex-wrap: nowrap;
    }
    .hero-image{
        width: 50%;
    }
}

/* .html-video{
    width: 100%;
    height: auto;
} */
.youtube-video{
    /* width: 100%; */
    /* height: 100%; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: 3; */
}
.flexible-video{
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background: grey;
    position: relative;
}

@media screen and (max-width:767px){  /* 768 */
    h2{
        font-size: 1.2em;
        margin: .5em 0;
    }
    .burger-button{
        display: block;
    }
    .hero{
        flex-wrap: wrap;
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    }
    .hero-image{
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    h1{
        font-size: 2em;
        z-index: 2;
    }
    /* -----------767 o 1024------------------------------ */
    .header{
       display: block;
       height: auto;
   } 
   .header ol{
       display: initial; /* o block directamente */
   }
   .header ol li{
       height: 50px;
   }
   .header a{
       justify-content: center;
       height: 40px;
       font-size: 2em;
       text-decoration: underline;
       margin-bottom: .5em;
   }
   .header .logo{
       text-align: center;
   }

   .menu{
       position: fixed;
       background: rgba(5, 111, 255, .9);
       z-index: 3;
       top: 0;
       left: -100vw;   /* lo ocultamos y con la transition/animacion saldra del escondite */
       width: 100vw;
       /* height: 100vh; otra tecnica pra ocupar todo el alto linea abajo*/
       bottom: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       transition: .3s;
   }
   /* cuando pongamos las dos clases sin espacio separadas por un . quiere decir
   que cuando tenga las dos clases el codigo se ejecuta*/
   .menu.is-active{
       left: 0;
   }

   .project{
       display: block;
   }
   .project-imageContainer{
        width: auto;
        text-align: center;
   }
   .project-details{
       width: auto;
       /* font-size: 16px;   Si no coloco 16 los tomara por defecto del padre que por default son 16px*/
   }
   .project-course, .project-date, .project-url{
       margin: .3em 0;
   }
   .project-title{
        font-size: 1.5em;
        margin-bottom: .3em  ;
   }
   .project-url{
        font-size: 1em;
   }
   .project-course{
        font-size: .7em;
   }
   .project-date{
        font-size: 1em;
   }
   .project-description{
        font-size: .8em;
   }
   .event{
       width: auto;
       flex-shrink: initial;
   }
   .event img{
       width: 100%;
   }
}

@media screen and (max-width:480px){
    h1{
        font-size: 1.5em;
    }
    .project-details{
        width: auto;
        font-size: 14px;
    }
    .event-detail{
        /* 1em = 16px */
        margin:-2em .5em .5em;
        padding: 1em;
    }
    .contact{
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }
    .form-email button{
        margin:1em auto;
    }
    .form-email h3{
        margin-top: 0;
    }
    .footer{
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
    
}

@media screen and (max-width:320px){
    .hero{
        /* padding: 2em 1em; */
        text-align: center;
    }
    h1{
        /* font-size: 1.2em; */
        background: rgba(0,0,0,.5)
    }
    .social-link{
        /* width: 50px;
        height: 50px;
        background-size: 100% 100%; */
        margin: 0 5px;
    }
}